<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <!-- FastCGI handler for Python/Flask -->
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Python314\python.exe|C:\Python314\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

 <!-- Allow Flask to serve /static/ normally -->
  <staticContent>
    <remove fileExtension=".css" />
    <mimeMap fileExtension=".css" mimeType="text/css" />
    <remove fileExtension=".js" />
    <mimeMap fileExtension=".js" mimeType="application/javascript" />
  </staticContent>


    <!-- Optional: failed request tracing -->
    <tracing>
      <traceFailedRequests>
        <add path="*" areas="Module,FastCGI,RequestNotification" verbosity="Verbose" />
      </traceFailedRequests>
    </tracing>

    <!-- Detailed error messages -->
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <appSettings>
    <!-- Tell wfastcgi which WSGI app to load -->
    <add key="WSGI_HANDLER" value="app.application" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\sales_project_starter" />

    <!-- Logging -->
    <add key="WSGI_LOG" value="C:\temp\wfastcgi.log" />

    <!-- Restart when code changes -->
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  </appSettings>
</configuration>
